.radio{
    display:none;
}

.field{
    width:100%;
    display:flex;
    border:1px solid #d9d9d9;
    border-radius:0.25rem;
    padding:6px 15px;
}

.field.default{
    border-color:var(--default);
    color:var(--black);
}

.field.md{
    padding:13.5px 15px;
    font-size:16px;
}

/*~~ Dropify ~~*/

.uploads.default > .dropify-wrapper{
    border:1px solid var(--default);
}

.uploads.default > .dropify-wrapper .dropify-message p{
    color:var(--default);
}

.uploads .dropify-clear {
    border: 1px solid var(--white);
    background: var(--primary);
    color: var(--white);
    padding: 0px;
    line-height: 0px;
}

.uploads.default > .dropify-wrapper .dropify-message span.file-icon{
    color:var(--default);
}

.uploads.sm{
    display:flex;
    flex-wrap:wrap;
    margin-right:-10px;
    justify-content:space-between;
}

.uploads.sm > .dropify-wrapper{
    width:70px;
    height:70px !important;
    margin-right:10px;
    margin-bottom:10px;
}

.uploads.sm > .dropify-wrapper .dropify-message p{
    display:none;
}

.uploads.md{
    display:flex;
    flex-wrap:wrap;
    margin-right:-10px;
    justify-content:space-between;
}

.uploads.md > .dropify-wrapper{
    width:calc(33.33333% - 10px);
    height:100px !important;
    margin-right:10px;
    margin-bottom:10px;
}

.uploads.md > .dropify-wrapper .dropify-message p{
    display:none;
}

.uploads.full > .dropify-wrapper{
    height:150px !important;
}

.uploads.full-screen > .dropify-wrapper{
    width:100%;
    height:100% !important;
}

.uploads.default.full-screen  > .dropify-wrapper .dropify-message span.file-icon{
    color:var(--default);
    font-size:90px;
}

.uploads.full-screen > .dropify-wrapper .dropify-message p{
    font-size:24px;
    line-height:30px;
}

@media all and ( max-width:992px ){

    .uploads.full-screen > .dropify-wrapper{
        height:200px;
    }

    .uploads.default.full-screen  > .dropify-wrapper .dropify-message span.file-icon{
        color:var(--default);
        font-size:72px;
    }

    .uploads.full-screen > .dropify-wrapper .dropify-message p{
        font-size:24px;
        line-height:30px;
    }

}

.radio-content .radio,
.radio-content .checkbox{
    display:none;
}

.radio-content .radio.type-01 + label,
.radio-content .checkbox.type-01 + label{
    display:flex;
    flex-wrap:wrap;
    cursor:pointer;
}

.radio-content .radio.type-01 + label .box,
.radio-content .checkbox.type-01 + label .box{
    width:20px;
    height:20px;
    border-radius:50%;
    border:2px solid #333;
    color:#333;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.3s;
}

.radio-content .radio.type-01 + label .box .bullet{
    width:10px;
    height:10px;
    border-radius:50%;
    background:transparent;
    transition:0.3s;
}

.radio-content .radio.type-01 + label span,
.radio-content .checkbox.type-01 + label span{
    margin-left:10px;
}

.radio-content .radio.type-01.default:checked + label .box,
.radio-content .checkbox.type-01.default:checked + label .box{
    border-color:var(--default);
    transition:0.3s;
}

.radio-content .radio.type-01.default:checked + label .box .bullet,
.radio-content .checkbox.type-01.default:checked + label .box .bullet{
    background:var(--default);
    transition:0.3s;
}

.select-wrapper input.select-dropdown {
    border: 1px solid var(--default);
    width: calc(100% - 15px);
    border-radius: 0.3rem;
    padding: 0px 0px 0px 15px;
    cursor: pointer;
}

select.field{
    display:none;
}

.input-field label{
    top:-30px;
}

.input-field i.prefix{
    margin-left: 5px;
    margin-top: 2px;
    width:initial;
}

.input-field i.prefix + input{
    padding-left:40px;
    width: 100%;
    margin-left:0px;
}

@media all and ( max-width:600px ){

    .col{
        width:100%;
    }

}