/*~~ Flex Section Start Here ~~*/

.flex{
    display:flex !important;
}

.flex-ais{
    display:flex !important;
    align-items:flex-start !important;
}

.flex-aic{
    display:flex !important;
    align-items:center !important;
}

.flex-aie{
    display:flex !important;
    align-items:flex-end !important;
}

.flex-jcs{
    display:flex !important;
    justify-content:flex-start !important;
}

.flex-jcc{
    display:flex !important;
    justify-content:center !important;
}

.flex-jce{
    display:flex !important;
    justify-content:flex-end !important;
}

.flex-jcsa{
    display:flex !important;
    justify-content:space-around !important;
}

.flex-jcsb{
    display:flex !important;
    justify-content:space-between !important;
}


.flex-ais-jcs{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:flex-start !important;
}

.flex-ais-jcc{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:center !important;
}

.flex-ais-jce{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:flex-end !important;
}

.flex-ais-jcsa{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:space-around !important;
}

.flex-ais-jcsb{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:space-between !important;
}

.flex-aic-jcs{
    display:flex !important;
    align-items:center !important;
    justify-content:flex-start !important;
}

.flex-aic-jcc{
    display:flex !important;
    align-items:center !important;
    justify-content:center !important;
}

.flex-aic-jce{
    display:flex !important;
    align-items:center !important;
    justify-content:flex-end !important;
}

.flex-aic-jcsa{
    display:flex !important;
    align-items:center !important;
    justify-content:space-around !important;
}

.flex-aic-jcsb{
    display:flex !important;
    align-items:center !important;
    justify-content:space-between !important;
}

.flex-aie-jcs{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:flex-start !important;
}

.flex-aie-jcc{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:center !important;
}

.flex-aie-jce{
    display:flex !important;
    align-items:flex-end !important;
    justify-content:flex-end !important;
}

.flex-aie-jcsa{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:space-around !important;
}

.flex-aie-jcsb{
    display:flex !important;
    align-items:flex-start !important;
    justify-content:space-between !important;
}

.flex-jcs-ais{
    display:flex !important;
    justify-content:flex-start !important;
    align-items:flex-start !important;
}

.flex-jcs-aic{
    display:flex !important;
    justify-content:flex-start !important;
    align-items:center !important;
}

.flex-jcs-aie{
    display:flex !important;
    justify-content:flex-start !important;
    align-items:flex-end !important;
}

.flex-jcc-ais{
    display:flex !important;
    justify-content:center !important;
    align-items:flex-start !important;
}

.flex-jcc-aic{
    display:flex !important;
    justify-content:center !important;
    align-items:center !important;
}

.flex-jcc-aie{
    display:flex !important;
    justify-content:center !important;
    align-items:flex-end !important;
}

.flex-jce-ais{
    display:flex !important;
    justify-content:flex-end !important;
    align-items:flex-start !important;
}

.flex-jce-aic{
    display:flex !important;
    justify-content:flex-end !important;
    align-items:center !important;
}

.flex-jce-aie{
    display:flex !important;
    justify-content:flex-end !important;
    align-items:flex-end !important;
}

.flex-jcsa-ais{
    display:flex !important;
    justify-content:space-around !important;
    align-items:flex-start !important;
}

.flex-jcsa-aic{
    display:flex !important;
    justify-content:space-around !important;
    align-items:center !important;
}

.flex-jcsa-aie{
    display:flex !important;
    justify-content:space-around !important;
    align-items:flex-end !important;
}

.flex-jcsb-ais{
    display:flex !important;
    justify-content:space-between !important;
    align-items:flex-start !important;
}

.flex-jcsb-aic{
    display:flex !important;
    justify-content:space-between !important;
    align-items:center !important;
}

.flex-jcsb-aie{
    display:flex !important;
    justify-content:space-between !important;
    align-items:flex-end !important;
}

.flex-column{
    flex-direction:column !important;
}

.flex-column-reverse{
    flex-direction:column-reverse !important;
}

.flex-row{
    flex-direction:row !important;
}

.flex-row-reverse{
    flex-direction:row-reverse !important;
}

/*~~ Flex Section End Here ~~*/