.jumbotron{
	/*height:100vh;*/
	height:initial;
	background-size:cover;
	background-attachment:fixed;
	background-position:center;
	display:flex;
	align-items:flex-end;
	color:var(--white);
	padding:0px;
	/*padding-bottom:150px;*/
	padding-top:100px;
	margin-bottom:0px;
	border-radius:0px;
}

.jumbotron .container-fluid{
	padding-left:70px;
	padding-right:70px;
}

.jumbotron h1{
	font-size:90px;
	font-family:Lato-Regular;
	font-weight:bold;
	font-style:italic;
}

.jumbotron h2{
	font-size:62px;
	font-family:Lato-Light;
	font-style:italic;
}

.jumbotron .container-fluid > .row{
	margin-left:-50px;
	margin-right:-50px;
}

.jumbotron .container-fluid > .row > div{
	padding:0px 50px;
	display:flex;
	align-items:center;
}

.jumbotron .form{
	width:100%;
	padding:45px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
	border-radius:5px;
	background:var(--white);
	margin-bottom:-3rem;
	color:#333;
}

.jumbotron .form > .row.justified{
	display:flex;
	justify-content:space-between;
}

.jumbotron .form > .row.justified > .col{
	width:100%;
}

.jumbotron .form .values .value{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:10px 0px;
	border-bottom:1px solid #d9d9d9;
}

.jumbotron .form .values .value h4,
.jumbotron .form .values .value h5{
	margin:0px;
}

.jumbotron .form .button.md{
	padding:15px 100px !important;
	margin-top:30px;
}

@media all and ( max-width:992px ){

	.jumbotron .container-fluid{
		padding-left:75px;
		padding-right:75px;
	}
	
	.jumbotron h1{
		font-size:62px;
	}

	.jumbotron h2{
		font-size:48px;
	}

	.jumbotron .form{
		margin-bottom:3rem;
	}

}

@media all and ( max-width:768px ){

	.jumbotron{
		height:initial;
		padding-top:150px;
		padding-bottom:25px;
	}

	.jumbotron .container-fluid{
		padding-left:25px;
		padding-right:25px;
	}
	
	.jumbotron h1{
		font-size:48px;
	}

}

@media all and ( max-width:576px ){

	.jumbotron{
		padding-top:80px;
	}

	.jumbotron .container-fluid{
		padding-left:15px;
		padding-right:15px;
	}
	
	.jumbotron h2{
		font-size:28px;
	}

	.jumbotron .form .values .value{
		flex-wrap:wrap;
	}

	.jumbotron .form .values .value h4{
		margin-top:10px;
		text-align:right;
	}

	.jumbotron .form .values .value h4,
	.jumbotron .form .values .value h5{
		width:100%;
		font-size:16px;
	}

	.jumbotron .form .button.md{
		padding:15px !important;
		width:100%;
		margin-top:30px;
	}

}