.portlet-body{
	padding:20px 0px;
}

.portlet-body h1,
.portlet-body h2,
.portlet-body h3,
.portlet-body h4,
.portlet-body h5,
.portlet-body h6{
	margin:0px;
	margin-bottom:15px;
}

.portlet-body .title.row{
	margin-bottom:20px;
}

@media all and ( max-width:600px ){

	.portlet-body .title.row h3,
	.portlet-body h3{
		font-size:24px;
	}

}