.dataTables_wrapper.no-footer > .row:nth-child(1),
.dataTables_wrapper.no-footer > .row:nth-child(2){
	display:none;
}

.portlet-filters{
	border-bottom:1px solid #d9d9d9;
}

.dt-responsive.no-footer{
	border-bottom:none !important;
}

.dt-responsive.type-01,
.dt-responsive.type-02{
	color:var(--black);
}

.dt-responsive.type-01 thead tr th,
.dt-responsive.type-02 thead tr th{
	padding:10px 15px;
	background:#d9d9d9;
	border-radius:0px;
	border:none;
}

.dt-responsive.type-01 thead tr th:first-child,
.dt-responsive.type-01 tbody tr td:first-child,
.dt-responsive.type-02 thead tr th:first-child,
.dt-responsive.type-02 tbody tr td:first-child{
	padding:0px !important;
	width:40px;
}

.dt-responsive.type-01 tbody tr td:first-child:before, 
.dt-responsive.type-01 tbody tr th:first-child:before{
	top: 50px !important;
	left: 10px !important;
	height: 20px !important;
	width: 20px !important;
	border:none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	line-height: 21px !important;
	font-size: 24px !important;
	font-weight: bold !important;
	background-color: var(--primary) !important;
}

.dt-responsive.type-02 tbody tr td:first-child:before, 
.dt-responsive.type-02 tbody tr th:first-child:before{
	top: 20px !important;
	left: 10px !important;
	height: 20px !important;
	width: 20px !important;
	border:none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	line-height: 21px !important;
	font-size: 24px !important;
	font-weight: bold !important;
	background-color: var(--primary) !important;
}

.dt-responsive.type-01 tbody tr.child ul,
.dt-responsive.type-02 tbody tr.child ul{
	width:100%;
}

.dt-responsive.type-01 tbody tr.child ul li,
.dt-responsive.type-02 tbody tr.child ul li{
	padding:10px 10px !important;
}

.dt-responsive.type-01 thead tr th:first-child:after,
.dt-responsive.type-02 thead tr th:first-child:after{
	content:none;
}

.dt-responsive.type-01 tbody tr td{
	padding:10px 15px;
	border-radius:0px;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	height:100px;
	background:#fafafa;
}

.dt-responsive.type-02 tbody tr td{
	padding:10px 15px;
	border-radius:0px;
	border-right:1px solid #d9d9d9;
	border-bottom:1px solid #d9d9d9;
	height:initial;
	background:#fafafa;
}

.dt-responsive.type-01 tbody tr td:first-child,
.dt-responsive.type-02 tbody tr td:first-child{
	border-left:1px solid #d9d9d9;
}

.dt-responsive.type-01 tbody tr td .actions,
.dt-responsive.type-02 tbody tr td .actions{
	display:flex;
	align-items:center;
	justify-content:center;
}

.dt-responsive.type-01 tbody tr td .actions a,
.dt-responsive.type-01 tbody tr td .actions svg,
.dt-responsive.type-01 tbody tr td .actions i,
.dt-responsive.type-02 tbody tr td .actions a,
.dt-responsive.type-02 tbody tr td .actions svg,
.dt-responsive.type-02 tbody tr td .actions i{
	margin-right:10px;
	cursor:pointer;
}

.dt-responsive.type-01 tbody tr td .actions a:last-child,
.dt-responsive.type-01 tbody tr td .actions svg:last-child,
.dt-responsive.type-01 tbody tr td .actions i:last-child,
.dt-responsive.type-02 tbody tr td .actions a:last-child,
.dt-responsive.type-02 tbody tr td .actions svg:last-child,
.dt-responsive.type-02 tbody tr td .actions i:last-child{
	margin-right:0px;
}

.dataTables_wrapper .row{
	margin:0px;
}

.dt-responsive.type-02 tbody tr td{
	height:initial;
}

.dt-responsive.type-02 .card-img{
	width:50px;
}