.modal{
	z-index: 1002;
}

.modal.type-03{
	z-index:1002;
	width:100%;
	height:100%;
	padding:0px !important;
}

.modal-backdrop{
	z-index:1001;
}

.modal.type-03 .modal-dialog{
	max-width:100%;
	height:100%;
	margin:0px;
	background-size:cover;
}

.modal.type-03 .modal-content,
.modal.type-03 .modal-header,
.modal.type-03 .modal-body,
.modal.type-03 .modal-footer{
	border-radius:0px;
}

.modal.type-03 .modal-content{
	width:100%;
	height:100%;
	background:var(--default-active);
}

.modal.type-03 .modal-body{
	height:100%;
	display:flex;
	align-items:flex-end;
	justify-content:center;
}

.modal#init-modal .button{
	border:1px solid #fff;
}

.modal#init-modal .logo{
	width:100%;
	display:flex;
	justify-content:center;
	margin-top:10px;
}

.modal#init-modal .logo img{
	width:60px;
	height:60px;
	margin:0px auto;
}

.modal.type-03 .form-group{
	margin-bottom:3px;
}

.modal.type-03 .form-group .form-control{
	border:1px solid #fff;
}