.btn.full-width,
.btn-large.full-width,
.btn-small.full-width{
    width:100%;
}

.waves-effect.default{
    background:var(--default);
    color:var(--white) !important;
}

.waves-effect.primary{
    background:var(--primary);
    color:var(--white) !important;
}

.waves-effect.secondary{
    background:var(--secondary);
    color:var(--white) !important;
}

.waves-effect.third{
    background:var(--third);
    color:var(--white) !important;
}

.waves-effect.fourth{
    background:var(--fourth);
    color:var(--white) !important;
}

.waves-effect.white{
    background:var(--white);
    color:var(--black) !important;
}

.waves-effect.black{
    background:var(--black) !important;
    color:var(--white) !important;
}

.waves-effect.grey{
    background:var(--grey);
    color:var(--white) !important;
}