/*~~ Button Type 03 Start Here ~~*/

.button.type-03{
    border-radius:50px;
    padding:0px !important;
    width:37px;
    height:37px;
    position:relative;
}

.button.type-03.outline{
    background:transparent !important;
}

.button.type-03.double{
    background:transparent !important;
}

/*~~ Button Type 03 End Here ~~*/

/*~~ Button Type 03 - Sizes Start Here ~~*/

.button.type-03.sm{
    width:24px;
    height:24px;
    font-size:11px;
}

.button.type-03.md{
    width:54px;
    height:54px;
    font-size:14px;
}

.button.type-03.lg{
    width:79px;
    height:79px;
    font-size:18px;
}

/*~~ Button Type 03 - Sizes End Here ~~*/

/*~~ Button Type 03 Themes Start Here ~~*/

.button.type-03.default{
    background:var(--default);
    border-color:var(--default);
    color:var(--black);
}

.button.type-03.default:hover{
    background:var(--default-hover);
    border-color:var(--default-hover);
    color:var(--black);
}

.button.type-03.default:active{
    background:var(--default-active);
    border-color:var(--default-active);
    color:var(--black);
}

.button.type-03.default:focus{
    background:var(--default-focus);
    border-color:var(--default-focus);
    color:var(--black);
}

.button.type-03.default.outline,
.button.type-03.default.double{
    color:var(--default);
}

.button.type-03.primary{
    background:var(--primary);
    border-color:var(--primary);
    color:var(--black);
}

.button.type-03.primary:hover{
    background:var(--primary-hover);
    border-color:var(--primary-hover);
    color:var(--black);
}

.button.type-03.primary:active{
    background:var(--primary-active);
    border-color:var(--primary-active);
    color:var(--black);
}

.button.type-03.primary:focus{
    background:var(--primary-focus);
    border-color:var(--primary-focus);
    color:var(--black);
}

.button.type-03.primary.outline,
.button.type-03.primary.double{
    color:var(--primary);
}

.button.type-03.secondary{
    background:var(--secondary);
    border-color:var(--secondary);
    color:var(--black);
}

.button.type-03.secondary:hover{
    background:var(--secondary-hover);
    border-color:var(--secondary-hover);
    color:var(--black);
}

.button.type-03.secondary:active{
    background:var(--secondary-active);
    border-color:var(--secondary-active);
    color:var(--black);
}

.button.type-03.secondary:focus{
    background:var(--secondary-focus);
    border-color:var(--secondary-focus);
    color:var(--black);
}

.button.type-03.secondary.outline,
.button.type-03.secondary.double{
    color:var(--secondary);
}

.button.type-03.third{
    background:var(--third);
    border-color:var(--third);
    color:var(--black);
}

.button.type-03.third:hover{
    background:var(--third-hover);
    border-color:var(--third-hover);
    color:var(--black);
}

.button.type-03.third:active{
    background:var(--third-active);
    border-color:var(--third-active);
    color:var(--black);
}

.button.type-03.third:focus{
    background:var(--third-focus);
    border-color:var(--third-focus);
    color:var(--black);
}

.button.type-03.third.outline,
.button.type-03.third.double{
    color:var(--third);
}

.button.type-03.fourth{
    background:var(--fourth);
    border-color:var(--fourth);
    color:var(--black);
}

.button.type-03.fourth:hover{
    background:var(--fourth-hover);
    border-color:var(--fourth-hover);
    color:var(--black);
}

.button.type-03.fourth:active{
    background:var(--fourth-active);
    border-color:var(--fourth-active);
    color:var(--black);
}

.button.type-03.fourth:focus{
    background:var(--fourth-focus);
    border-color:var(--fourth-focus);
    color:var(--black);
}

.button.type-03.fourth.outline,
.button.type-03.fourth.double{
    color:var(--fourth);
}

/*~~ Button Type 03 Themes End Here ~~*/