.x-grid{
    display:flex;
    flex-wrap:wrap;
    margin-left:-15px;
    margin-right:-15px;
    overflow:hidden;
}

.x-grid.justify{
    justify-content:space-between;
    flex-wrap:nowrap;
}

.x-grid.justify .col{
    width:100%;
}

.x-grid .col{
    margin-bottom:10px;
}

.x-grid .grid-content{
    padding:0px 15px;
}

.x-grid.sm{
    margin-left:0px;
    margin-right:0px;
}

.x-grid.sm .grid-content{
    padding:0px 0px;
}

.x-grid.md{
    margin-left:-25px;
    margin-right:-25px;
}

.x-grid.md grid-content{
    padding:0px 25px;
}

.x-grid.lg{
    margin-left:-40px;
    margin-right:-40px;
}

.x-grid.lg grid-content{
    padding:0px 40px;
}

.x-grid .grid-1{   width:calc(6.25% *  1);  }
.x-grid .grid-2{   width:calc(6.25% *  2);  }
.x-grid .grid-3{   width:calc(6.25% *  3);  }
.x-grid .grid-4{   width:calc(6.25% *  4);  }
.x-grid .grid-5{   width:calc(6.25% *  5);  }
.x-grid .grid-6{   width:calc(6.25% *  6);  }
.x-grid .grid-7{   width:calc(6.25% *  7);  }
.x-grid .grid-8{   width:calc(6.25% *  8);  }
.x-grid .grid-9{   width:calc(6.25% *  9);  }
.x-grid .grid-10{  width:calc(6.25% * 10);  }
.x-grid .grid-11{  width:calc(6.25% * 11);  }
.x-grid .grid-12{  width:calc(6.25% * 12);  }
.x-grid .grid-13{  width:calc(6.25% * 13);  }
.x-grid .grid-14{  width:calc(6.25% * 14);  }
.x-grid .grid-15{  width:calc(6.25% * 15);  }
.x-grid .grid-16{  width:calc(6.25% * 16);  }

@media all and ( max-width:1200px ){

    .x-grid .desktop-1{   width:calc(6.25% *  1);  }
    .x-grid .desktop-2{   width:calc(6.25% *  2);  }
    .x-grid .desktop-3{   width:calc(6.25% *  3);  }
    .x-grid .desktop-4{   width:calc(6.25% *  4);  }
    .x-grid .desktop-5{   width:calc(6.25% *  5);  }
    .x-grid .desktop-6{   width:calc(6.25% *  6);  }
    .x-grid .desktop-7{   width:calc(6.25% *  7);  }
    .x-grid .desktop-8{   width:calc(6.25% *  8);  }
    .x-grid .desktop-9{   width:calc(6.25% *  9);  }
    .x-grid .desktop-10{  width:calc(6.25% * 10);  }
    .x-grid .desktop-11{  width:calc(6.25% * 11);  }
    .x-grid .desktop-12{  width:calc(6.25% * 12);  }
    .x-grid .desktop-13{  width:calc(6.25% * 13);  }
    .x-grid .desktop-14{  width:calc(6.25% * 14);  }
    .x-grid .desktop-15{  width:calc(6.25% * 15);  }
    .x-grid .desktop-16{  width:calc(6.25% * 16);  }

}

@media all and ( max-width:992px ){

    .x-grid .tablet-1{   width:calc(6.25% *  1);  }
    .x-grid .tablet-2{   width:calc(6.25% *  2);  }
    .x-grid .tablet-3{   width:calc(6.25% *  3);  }
    .x-grid .tablet-4{   width:calc(6.25% *  4);  }
    .x-grid .tablet-5{   width:calc(6.25% *  5);  }
    .x-grid .tablet-6{   width:calc(6.25% *  6);  }
    .x-grid .tablet-7{   width:calc(6.25% *  7);  }
    .x-grid .tablet-8{   width:calc(6.25% *  8);  }
    .x-grid .tablet-9{   width:calc(6.25% *  9);  }
    .x-grid .tablet-10{  width:calc(6.25% * 10);  }
    .x-grid .tablet-11{  width:calc(6.25% * 11);  }
    .x-grid .tablet-12{  width:calc(6.25% * 12);  }
    .x-grid .tablet-13{  width:calc(6.25% * 13);  }
    .x-grid .tablet-14{  width:calc(6.25% * 14);  }
    .x-grid .tablet-15{  width:calc(6.25% * 15);  }
    .x-grid .tablet-16{  width:calc(6.25% * 16);  }

}

@media all and ( max-width:768px ){

    .x-grid .mobile-1{   width:calc(6.25% *  1);  }
    .x-grid .mobile-2{   width:calc(6.25% *  2);  }
    .x-grid .mobile-3{   width:calc(6.25% *  3);  }
    .x-grid .mobile-4{   width:calc(6.25% *  4);  }
    .x-grid .mobile-5{   width:calc(6.25% *  5);  }
    .x-grid .mobile-6{   width:calc(6.25% *  6);  }
    .x-grid .mobile-7{   width:calc(6.25% *  7);  }
    .x-grid .mobile-8{   width:calc(6.25% *  8);  }
    .x-grid .mobile-9{   width:calc(6.25% *  9);  }
    .x-grid .mobile-10{  width:calc(6.25% * 10);  }
    .x-grid .mobile-11{  width:calc(6.25% * 11);  }
    .x-grid .mobile-12{  width:calc(6.25% * 12);  }
    .x-grid .mobile-13{  width:calc(6.25% * 13);  }
    .x-grid .mobile-14{  width:calc(6.25% * 14);  }
    .x-grid .mobile-15{  width:calc(6.25% * 15);  }
    .x-grid .mobile-16{  width:calc(6.25% * 16);  }

}

/*~~ Bootstrap ~~*/

.row.sm > div{
    padding-left:0px;
    padding-right:0px;
}

.row.md > div{
    padding-left:60px;
    padding-right:60px;
}

.row.lg > div{
    padding-left:120px;
    padding-right:120px;
}

.row.extra-lg > div{
    padding-left:200px;
    padding-right:200px;
}