@import url('../plugins/materialize/materialize.css');
@import url('../plugins/datatables/datatables.min.css');
@import url('../plugins/datatables/plugins/bootstrap/datatables.bootstrap.css');
@import url('material-icons/material-icons.css');
@import url('glyphicons/glyphicons.css');
@import url('webgreater/main.css');
@import url('fonts/fonts.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    margin:0px;
    padding:0px;
    text-decoration:none;
}

/*~~ Fonts ~~*/

body{
    --default:#1386ca;
    --default-hover:#1386caCC;
    --default-active:#1386ca80;
    --default-focus:#1386ca80;

    --primary:#ff9930;
    --primary-hover:#ff9930CC;
    --primary-active:#ff993080;
    --primary-focus:#ff993080;

    --secondary:#ed1c24;
    --secondary-hover:#ed1c24CC;
    --secondary-active:#ed1c2480;
    --secondary-focus:#ed1c2480;

    --white:#FFFFFF;
    --white-hover:#FFFFFFCC;
    --white-active:#FFFFFF80;
    --white-focus:#FFFFFF80;

    --grey:#C9C9C9;
    --grey-hover:#C9C9C9CC;
    --grey-active:#C9C9C980;
    --grey-focus:#C9C9C980;

    --light-grey:#E9E9E9;
    --light-grey-hover:#E9E9E9CC;
    --light-grey-active:#E9E9E980;
    --light-grey-focus:#E9E9E980;

    --black:#444444;
    --black-hover:#444444CC;
    --black-active:#44444480;
    --black-focus:#44444480;

    --facebook:#3b5998;
    --facebook-hover:#3b5998CC;
    --facebook-active:#3b599880;
    --facebook-focus:#3b599880;

    --whatsapp:#25d366;
    --whatsapp-hover:#128c7e;
    --whatsapp-active:#075e54;
    --whatsapp-focus:#075e54;
}

html, body, .full-screen{
    width:100%;
    height:initial;
}

html, body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family:Lato-Regular;
    position:relative;
}

.row.justified{
    display:flex !important;
    justify-content:space-between !important;
}

.row.justified .col{
    width:100%;
}

@media all and ( max-width:992px ){

    .row.justified{
        display:flex !important;
        justify-content:space-between !important;
        flex-wrap:wrap;
    }

    .row.justified .col{
        width:50%;
    }

}

@media all and ( max-width:600px ){

    .row.justified .col{
        width:100%;
    }

}