.dashboard{
	padding:20px;
	color:#555;
}

.dashboard h3{
	margin:0px;
	margin-bottom:20px;
}

.dashboard p{
	margin:15px 0px;
}

.dashboard .list .item{
	font-weight:bold;
	margin-bottom:5px;
}

.dashboard hr{
	margin:20px 0px;
}