.values{
	margin-bottom:30px;
}

.values .value{
	display:flex;
	justify-content:space-between;
	align-items:center;
	margin-bottom:15px;
	padding:10px 0px;
	border-bottom:1px solid #d9d9d9;
}

.values .value h1,
.values .value h2,
.values .value h3,
.values .value h4,
.values .value h5,
.values .value h6{
	margin:0px;
}

.formas-de-pagamento .btn-large{
	margin-top:15px !important;
}