.minha-conta .input-field label {
    top: -10px;
    font-size: 18px;
}

.minha-conta .datepicker-controls .select-wrapper input.select-dropdown {
     border: none; 
     width: 50px; 
     border-radius: 0px; 
     padding: 0px; 
     cursor: pointer; 
}

.minha-conta .select-wrapper + label{
	top:-38px !important;
}

.minha-conta hr{
	margin:30px 0px 40px 0px;
}

.minha-conta .modal{
	text-align:center;
}

.minha-conta .modal h5,
.minha-conta .modal p{
	margin-bottom:15px;
}